:root {
  --secondary: #2b2c33;
  --secondary-light: #616161;
  --primary: #0078ca;
  --primary-light: #0079cac9;
  --background-light: #f2f2f2;
  --white: #ffffff;
  --error: red;
}
/*  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--secondary);
}

body {
  font-family: "Open Sans", sans-serif;
  background: var(--background-light);
}

.radius10 {
  border-radius: 10px;
  padding: 10px;
}
.radius5 {
  border-radius: 5px;
  padding: 5px;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mh-1 {
  margin: 0 1rem;
}
.mv-1 {
  margin: 1rem 0;
}
.m-1 {
  margin: 1rem;
}
.p-1 {
  padding: 1rem;
}
.ph-1 {
  padding: 0 1rem;
}
.pv-1 {
  padding: 1rem 0;
}
.m-_5 {
  margin: 0.5rem;
}
.p-_5 {
  padding: 0.5rem;
}
.align-center {
  display: flex;
  align-items: center;
}
button {
  display: inline-block;
  border: none;
  padding: 0px;
  margin: 0;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  background: none;
  /* transition: background 250ms ease-in-out, transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none; */
}

button:focus {
  outline: none;
  outline-offset: -4px;
}

button:active {
  transform: scale(0.99);
}

/* Button styles end */
input {
  border: none;
  outline: none;
}
input:focus {
  border: none;
  outline: none;
}
textarea {
  border: none;
  outline: none;
  resize: none;
}
textarea:focus {
  border: none;
  outline: none;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.align-horizontal-end {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
}
.align-vertical-center {
  display: flex;
  height: 100%;
  align-items: center;
  /* justify-content: flex-end; */
}
.cta_button {
  background: var(--primary);
  color: var(--white);
  padding: 0.5rem;
  border-radius: 0.2rem;
  font-size: 1.2rem;
}
/*  ======================================  */
/* width */
::-webkit-scrollbar {
  width: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey;  */
  border-radius: 0.5rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--secondary-light);
  border-radius: 0.5rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--secondary);
}
/*  ======================================  */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 54px;
  background: var(--background-light);
  display: flex;
  /* border-bottom: 1px solid #efefef;s */
  align-items: center;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.09);
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.09);
}
.navbar_title {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  flex: 1;
  /* background: red; */
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}
.navbar_icon_wrapper {
  display: flex;
  flex: 1;
  padding: 0 2vw;
  justify-content: flex-end;
  align-items: center;
}
.fullScreenModal_header_main-navbar_icon_wrapper {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem 2rem;
}
.navbar__icons {
  font-size: 30px;
  cursor: pointer;
  margin: 0 1rem;
}
/*  */
.create {
  width: 100%;
  margin: 15px auto;
  padding: 15px;
  background: var(--white);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  display: flex;
}
/* .create__first-img {
  width: 20%;
} */
.create__first-img span,
.create-post-modal-avatar {
  display: inline-block;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  overflow: hidden;
  background: var(--background-light);
}
.create__first-img span img,
.create-post-modal-avatar > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: auto;
}
.create__first-input {
  flex: 1;
  margin: 0 0.5rem;
}
.cursorPointer {
  cursor: pointer;
}
.create__first-inputs {
  width: 100%;
  padding: 15px 20px;
  border: none;
  background: var(--background-light);
  border-radius: 30px;
  outline: none;
  font-size: 13px;
  color: var(--secondary-light);
  text-transform: capitalize;
}
.create__second {
  width: 100%;
  border-top: 1px solid #f0f2f5;
  margin-top: 12px;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}
.create__second-icon {
  display: flex;
  align-items: center;
}
.create__second-camera-icon {
  color: var(--secondary);
}
/*  */
.fullScreenModal_main_cont {
  background: rgba(97, 97, 97, 0.95);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
.fullScreenModal_body_main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.fullScreenModal_header_icon {
  background: var(--background-light);
  border-radius: 50%;
  padding: 5px;
  margin: 5px;
}
/*  */
.create-post-modal-main {
  width: 45rem;
  background: var(--white);
  border-radius: 1rem;
}

.create-post-modal-header {
  /* background: green; */
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
}
.create-post-modal-header-title {
  font-weight: bold;
  font-size: 1.8rem;
  text-transform: capitalize;
}
.create-post-modal-user-name {
  font-size: 1.6rem;
}
.create-post-modal-input-wrapper {
  width: 100%;
  padding: 5px;
}
.create-post-modal-input-wrapper textarea {
  width: 100%;
  word-wrap: break-word;
  font-size: 2rem;
}
.create-post-modal-add-photo {
  display: flex;
  flex: 1;
  flex-direction: column;
  /* justify-content: flex-end; */
  align-items: flex-end;
  padding: 1rem 2rem;
}
.create-post-modal-CTA {
  padding: 0.8rem 1rem;
  background: var(--primary-light);
  border-radius: 0.5rem;
  text-transform: capitalize;
  color: var(--white);
  cursor: pointer;
}
.create-post-modal-add-photo img {
  border-radius: 0.5rem;
  width: 100%;
  object-fit: cover;
  height: 30rem;
  margin: 1rem 0;
}
.create-post-modal-add-photo div {
  position: relative;
  width: 100%;
}
.create-post-modal-add-photo div span {
  position: absolute;
  top: 0;
  right: 0;
}
.create-post-modal-add-post-button {
  width: 100%;
  font-weight: bold;
  font-size: 1.65rem;
}
.create-post-modal-add-post-button-wrapper {
  width: 100%;
  padding: 1rem;
}
/* ============================media query screen ======================== */
@media only screen and (max-width: 480px) {
  .create-post-modal-main {
    width: 97vw;
  }
  .create-post-modal-header-title {
    font-size: 1.4rem;
  }
  .create-post-modal-input-wrapper textarea {
    font-size: 1.6rem;
  }
}
