:root {
  --secondary: #2b2c33;
  --secondary-light: #616161;
  --primary: #0078ca;
  --background-light: #f2f2f2;
  --white: #ffffff;
}
* {
  margin: 0;
  padding: 0;
}
.radius10 {
  border-radius: 10px;
  padding: 10px;
}
.radius5 {
  border-radius: 5px;
  padding: 5px;
}
